@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.makeStyles-callButton-212:hover {
  background-color: green;
}

/* setting max height for img gallery carousel */
.image-gallery-slide img {
  height: 500px;
}

a.nodecor {
  text-decoration: none;
}

a.nodecor.white {
  color: white;
}

/* :root {
  --fancyFont: "Parisienne, cursive";
  --main-txt-color: blue;
  --main-padding: 15px;
} */
